<div class="main">
    <br />
<div><img src="../../../assets/images/app-header-logo.png" width="2%" height="90%"></div>
    <div (click)="gotourl('home')" [class.selected]="url === 'home'">Home</div>
    <div (click)="gotourl('about-us')" [class.selected]="url === '/about-us'">AboutUs</div>
    <div (click)="gotourl('customer-login')" [class.selected]="url === '/customer-login'">CustomerLogin</div>
    <div (click)="gotourl('admin-login')" [class.selected]="url === '/admin-login'">AdminLogin</div>
    <div (click)="gotourl('contact-us')" [class.selected]="url === '/contact-us'">ContactUs</div>
</div>