<br/>
<br />
<br />
<div *ngIf="!isShowChangePassword" class="forgot-password">
    <h1 style="color:maroon;">Forgot Password</h1>
    <img src="../../../assets/images/forgot-password-image.jpg" class="img-fluid" alt=" ">
      <br/><br/>
    <P> Provide your accounts email to reset your password</P>
    <br />
    <table>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter Email&nbsp;&nbsp;&nbsp;</td>
            <td><input type="text" [(ngModel)]="email" /></td>
        </tr>
    </table>
    <br />
    &nbsp;&nbsp;<button class="btn btn-danger" (click)="onSubmit()">Submit</button>
</div>
<div *ngIf="isShowChangePassword" class="forgot-password">
    <h3>Change Password</h3>
    <br />
    <table>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter New Password</td>
            <td><input type="password" [(ngModel)]="newPassword" /></td>
        </tr>
    </table>
    <br />
    <button (click)="onChangePassword()">Submit</button>
</div>