
 <div class="about-page">
    <div class="about-section">
        <h1>About Us </h1>
      </div>
    <div class="welcome py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
          <!-- //tittle heading -->
          <div class="row">
            <h3 style="color:#474e5d;">About Store</h3>
            <div class="col-lg-6 welcome-left">
              <h4 class="my-sm-3 my-2">Online Book Store is a low-price online store for books, which has many ranging books,eg  We have Fictional books, Non fictional books, Autobiography, Travel Books, Cookbooks, Childrens book, Mystery books and many other books needed. All the books on our
               website are distinguished based on their categories, which gives you the hassle-free shopping experience ever with minimum time spent for your shopping.</h4>
            </div>
      
            <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
              <img src="../../../assets/images/aboutuslogo.jpg" class="img-fluid" alt=" ">
            </div>
            <div class="welcome-left">
              <br><br><h3 class="text-left" style="color:#474e5d;;">&ensp;Our Functionality</h3>
              <h4 class="my-sm-3" style="margin-left:15px;">We provide ranges of books with the lowest price. Right now we only serve you in Mumbai and Thane . To have a more convenient shopping experience, for you we deliver your selected books at your doorstep at your selected time slot. As in today's era every person sense short in time & also its hard to find variety of books at one store. So to tackle this issue we serve you with the finest & hand-picked books from all the categories,
              to save your time from the conventional shopping as well as
               from the problems like getting stuck while buying books, carrying heavy shopping bags & etc.</h4>
            </div>
            <div class="welcome-left">
              <br><br><h3 class="text-left" style="color:#474e5d;;">&ensp;Our Vision</h3>
              <h4 class="my-sm-3" style="margin-left:15px;">
              <li>Redefining India's freshest and finest learning experience by 2024.</li>
              <li>To provide a brighter customer experience with an assortment of finest local and international books and highest level of service. </li>
              <li>To spread the joy of gaining Knowledge.</li>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>